@model SG_ASP_2.Models.Atenciones

@{
    ViewBag.Title = "Create";
}


<h2>Importar</h2>

<h4 class="text-danger">@ViewBag.Error</h4>
<h4 class="text-success">@ViewBag.Confirmacion</h4>

<form method="post" enctype="multipart/form-data">

    <div class="form-horizontal form-control-sm">
        <h4>Atenciones</h4>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="file" name="file" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    @foreach (var item in ViewBag.Estado)
    {
        int n = 0;
        <p>"Line Query" @n +@item</p>
        n++;
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}